<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define a macro for the sensor kit -->
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">

    <xacro:arg name="config_dir" default="$(find miivii_image_projection_based_fusion)/config/calibration"/>

    <!-- Define the sensor kit base link -->
    <joint name="${parent}_sensor_kit_base_link_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="sensor_kit_base_link"/>
    </joint>
    <link name="sensor_kit_base_link">
      <!-- The origin tag here is not necessary as the link's position is already defined by the joint -->
    </link>

    <!-- Load calibration data -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- Include sensors based on the calibration data -->
    <xacro:sensor_kit_macro_sensor name="hesai_lidar" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['hesai_lidar']['x']}"
      y="${calibration['sensor_kit_base_link']['hesai_lidar']['y']}"
      z="${calibration['sensor_kit_base_link']['hesai_lidar']['z']}"
      roll="${calibration['sensor_kit_base_link']['hesai_lidar']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['hesai_lidar']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['hesai_lidar']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera0" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera0']['x']}"
      y="${calibration['sensor_kit_base_link']['camera0']['y']}"
      z="${calibration['sensor_kit_base_link']['camera0']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera0']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera0']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera0']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera1" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera1']['x']}"
      y="${calibration['sensor_kit_base_link']['camera1']['y']}"
      z="${calibration['sensor_kit_base_link']['camera1']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera1']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera1']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera1']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera2" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera2']['x']}"
      y="${calibration['sensor_kit_base_link']['camera2']['y']}"
      z="${calibration['sensor_kit_base_link']['camera2']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera2']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera2']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera2']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera3" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera3']['x']}"
      y="${calibration['sensor_kit_base_link']['camera3']['y']}"
      z="${calibration['sensor_kit_base_link']['camera3']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera3']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera3']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera3']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera4" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera4']['x']}"
      y="${calibration['sensor_kit_base_link']['camera4']['y']}"
      z="${calibration['sensor_kit_base_link']['camera4']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera4']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera4']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera4']['yaw']}"
    />
    <xacro:sensor_kit_macro_sensor name="camera5" parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera5']['x']}"
      y="${calibration['sensor_kit_base_link']['camera5']['y']}"
      z="${calibration['sensor_kit_base_link']['camera5']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera5']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera5']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera5']['yaw']}"
    />

  </xacro:macro>

  <!-- Define a macro for a sensor -->
  <xacro:macro name="sensor_kit_macro_sensor" params="name parent x y z roll pitch yaw">
    <joint name="${parent}_${name}_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    <link name="${name}">
      <!-- Add sensor-specific elements here, e.g., visual and collision elements -->
    </link>
  </xacro:macro>

</robot>
